.home {
  text-align: center;
}
.home h1 {
  margin-left: 48%;
  box-sizing: border-box;
  width: 100px;
  border-bottom: aquamarine solid 6px;
}

.eduzz {
  color: black;
  border-bottom: 5px solid aquamarine
}

.mainPage {
  white-space: normal;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  letter-spacing: 5px;
}
