:root {
  --mainColor: aquamarine;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 8px
}

a {
  color: var(--mainColor);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
}

@supports not(-webkit-text-stroke: 2px red) {
  a:hover {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}
